<meta charset="utf-8">
  <table border="1">
   <tr>
       <th>Д а т а</th>
       <th>З а г о л о в о к</th>
       <th></th>
       <th></th>
   </tr>
   <tr>
       <td>2017-02-02</td>
       <td>З а г о л о в о к 1</td>
       <td>
           <a href="#">Р е д а к т и р о в а т ь</a>
       </td>
       <td>
           <a href="#">У д а л и т ь</a>
       </td>
   </tr>
   <tr>
       <td>2017-02-02</td>
       <td>З а г о л о в о к 2</td>
       <td>
           <a href="#">Р е д а к т и р о в а т ь</a>
       </td>
       <td>
           <a href="#">У д а л и т ь</a>
       </td>
   </tr>
   <tr>
       <td>2017-02-02</td>
       <td>З а г о л о в о к 3</td>
       <td>
           <a href="#">Р е д а к т и р о в а т ь</a>
       </td>
       <td>
           <a href="#">У д а л и т ь</a>
       </td>
   </tr>
</table>